.DS_Store
*.db
*.log
*.json
!package*.json
*.zip
*.db-journal
.vscode
venv/
.venv
config.yaml
.ipynb_checkpoints
uv.lock
.python-version
pyproject.toml
*.tsv
!merged-reduced.tsv
*.tar.gz
.env
myenv/
__pycache__
node_modules
react-dashboard/node_modules/
local-compose.yml
config/